.about-section {
  padding: 7rem 0;
  color: $white;
  .text-somos {
    color: white;
    font-size: 2.5rem;
  }
  .text-tau-about {
    color: black;
  }
  background: linear-gradient(
    to top,
    #{fade-out($teal, 0.8)} 0%,
    #{fade-out($teal, 0)} 0%,
    $teal 80%
  );
  p {
    margin-bottom: 5rem;
  }
}
