// Override Bootstrap color system

$teal: #007ce2;
$black: #000000;

// Override Bootstrap default state colors

$primary: $teal;

// Add colors to the color map

$theme-colors: (
    "black": $black,
);
